@import url('https://fonts.googleapis.com/css?family=Raleway:900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');


* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	width: 1500px;
    background-color: #eeeeee;
}

/*header__navbar*/
.header-navbar {
    background-color: #eeeeee;
	height: 852px;
}

.header-navbar__text {
	font-family: Roboto;
    color: #303030;
    font-size: 48px;
    font-weight: 900;
    line-height: 27px;
    position: absolute;
    left: 240px;
    top: 48px;
}

.header__navbar {
	margin-left: 900px;
}

.header__navbar-list {
	display: inline-block;
	margin-top: 64px;
	padding-right: 51px;
}

.header__navbar-link {
	text-decoration: none;
	font-family: Roboto;
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.header__navbar-link:hover {
    color: #e10011;
}
/*header__navbar*/

/*header*/
.header__pic {
	position: absolute;
	left: 869px;
	top: 189px;
}

.header {
    width: 771px;
    height: 456px;
    text-align: right;
}

.header__title {
	font-family: Raleway;
    color: #303030;
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    margin-left: 154px;
    margin-top: 124px;
}

.header__dscr {
	font-family: Roboto;
    color: #303030;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin-left: 193px;
    margin-top: 54px;
    margin-bottom: 30px;
}

.header__link {
	text-decoration: none;
	font-family: Roboto;
    color: #303030;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.header__link:hover {
    color: #e10011;
}
/*header*/

/*header__slider*/
.header__slider {
    margin-left: 725px;
}

.header__slider-list {
    display: inline-block;
    margin-top: 142px;
}

.header__btn {
    background-image: url("image/Ellipse1.png");
    width: 11px;
    height: 11px;
}

.header__btn:hover {
    background-image: url("image/Ellipse 1 red.png");
    width: 11px;
    height: 11px;
}
/*header__slider*/
/*header*/

/*main*/
/*featured*/
.featured {
    width: 1194px;
    height: 1250px;
    background-color: #ffffff;
    margin-left: 152px;
    padding-top: 100px;
}

.featured__title {
    font-family: Raleway;
    color: #303030;
    font-size: 48px;
    font-weight: 900;
    line-height: 150px;
    text-align: center;
}

.featured__pic {
    margin-left: 494px;
}

.featured__dscr {
    font-family: Raleway;
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 631px;
    height: 94px;
    text-align: center;
    margin-top: 14px;
    margin-left: 280px;
}

/*featured__gallery*/
.featured__gallery {
    margin-left: 72px;
}

.featured__gallery-img:nth-child(2) {
    margin-left: 30px;
}

.featured__gallery-img:nth-child(4) {
    margin-left: 30px;
}

.featured__gallery-img:nth-child(5) {
    margin-left: 30px;
}

.featured__gallery-img:nth-child(3) {
    margin-top: 30px;
}

/*featured__gallery*/
/*featured*/
/*main*/

/*footer*/
.footer {
   padding-top: 80px;
}

.footer__caption {
    font-family: Raleway;
    color: #303030;
    font-size: 48px;
    font-weight: 900;
    line-height: 150px;
    text-align: center;
}

.footer__dscr {
    font-family: Raleway;
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 551px;
    margin-left: 473px;
    margin-top: -30px;
    padding-bottom: 42px;
}

.footer__form {
    margin-left: 399px;
}

.footer__email {
    background-color: #ffffff;
    width: 702px;
    height: 70px;
    padding-left: 64px;
}

.footer__email::-webkit-input-placeholder {
    font-family: Raleway;
    color: #979797;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
}

.footer__email:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.footer__btn {
    background-color: #e10011;
    width: 208px;
    height: 70px;
    margin-left: -208px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
}

.footer__btn:hover {
    background-color: #FFF;
    color: #979797;
    border: 1px solid #e10011;
}

.social {
    margin-left: 181px;
    margin-top: 113px;
    padding-bottom: 59px;
}

.social__list {
    display: inline-block;
    padding-right: 25px;
}

.social__img:hover {
    border: 5px solid #979797;
    border-radius: 50%;
}

.social__img {
    border: 5px solid transparent;
}

.footer__copyright {
    margin-left: 540px;
    font-family: Raleway;
    color: #979797;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 30px;
}
/*footer*/